@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(61, 174, 232);
  background: -moz-linear-gradient(
    90deg,
    rgba(61, 174, 232, 1) 0%,
    rgba(67, 209, 232, 1) 47%,
    rgba(2, 159, 191, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(61, 174, 232, 1) 0%,
    rgba(67, 209, 232, 1) 47%,
    rgba(2, 159, 191, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(61, 174, 232, 1) 0%,
    rgba(67, 209, 232, 1) 47%,
    rgba(2, 159, 191, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3daee8",endColorstr="#029fbf",GradientType=1);
}
p span {
  color: rgb(175, 0, 0);
}
.wrapper {
  max-width: 500px;
  height: 430px;
  background: white;
  border-radius: 5px;
  padding: 20px 25px 15px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.2);
}
header h1 {
  font-size: 35px;
  color: black;
  text-align: center;
}
header p {
  font-size: 17px;
  padding: 5px 0 5px 0;
  color: #474747;
  text-align: center;
}
.inputs p {
  padding: 10px 0px 0;
  color: rgb(14, 107, 150);
  font-weight: bold;
}
.inputs select {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 20px;
  padding: 0 25px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  color: #504f4f;
}

.inputs input {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 20px;
  padding: 0 25px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  color: #504f4f;
}
.inputs input:focus {
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.15);
}
.inputs button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  opacity: 0.7;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  box-shadow: 3px 3px 3px rgb(0 0 0/0.3);
  background: rgb(61, 174, 232);
  background: -moz-linear-gradient(
    90deg,
    rgba(61, 174, 232, 1) 0%,
    rgba(67, 164, 232, 1) 47%,
    rgba(2, 149, 191, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(61, 174, 232, 1) 0%,
    rgba(67, 164, 232, 1) 47%,
    rgba(2, 149, 191, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(61, 174, 232, 1) 0%,
    rgba(67, 164, 232, 1) 47%,
    rgba(2, 149, 191, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3daee8",endColorstr="#0295bf",GradientType=1);
}
.inputs button.active {
  opacity: 1;
  pointer-events: auto;
}

.bill-info {
  padding-top: 15px;
  color: rgb(14, 107, 150);
  font-weight: bold;
}
@keyframes linearGradient {
  0% {
    background: rgb(229, 194, 253);
  }
  25% {
    background: rgb(210, 143, 255);
  }
  50% {
    background: rgb(185, 81, 255);
  }
  75% {
    background: rgb(162, 23, 255);
  }
  100% {
    background: rgb(108, 0, 180);
  }
}
button:hover {
  animation: linearGradient 250ms;
  background: rgb(108, 0, 180);
}

button:active {
  box-shadow: none;
  color: black;
  background: rgb(60, 190, 255);
  background: -moz-linear-gradient(
    90deg,
    rgb(66, 192, 255) 0%,
    rgb(173, 221, 255) 47%,
    rgb(80, 217, 255) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(85, 198, 255) 0%,
    rgb(166, 218, 255) 47%,
    rgb(93, 220, 255) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(132, 214, 255) 0%,
    rgb(161, 216, 255) 47%,
    rgb(86, 218, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3daff8",endColorstr="#02ffbf",GradientType=0.5);
}
